*{
    margin: 0;
    padding: 0;
}
.avatar {
    border-radius: 50%;
  }
  .btn{
    margin: 25px;
    max-width: 100px;
    border-radius: 30px;
    color: white;
    background-color: black;
    cursor: pointer;
    
  }
  .btn:hover{
    color: black;
    background-color: white;
  }
  .btns{
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black ;
    background-image: linear-gradient(black,white);
  }
  textarea{
    margin-top: 15px;
  }
  .list{
    background-color: #836d6d;
    text-align: center;
  }