*{
    margin: 0;
    padding: 0;
}
.avatar {
    border-radius: 50%;
  }
  .btn{
    margin: 25px;
    max-width: 100px;
    border-radius: 30px;
    color: white;
    background-color: black;
    cursor: pointer;
    
  }
  .btn:hover{
    color: black;
    background-color: white;
  }
  .btns{
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black ;
    background-image: linear-gradient(black,white);
  }
  textarea{
    margin-top: 15px;
  }
  .list{
    background-color: #836d6d;
    text-align: center;
  }
  .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin: 25px 0px 25px 0px;
    background-image: linear-gradient(rgb(255, 255, 0),rgb(224, 152, 152));
  }
  profile img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
  .profilechange{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profilechange div{
   margin: 50px;
   padding: 10px;

  }
  .profilechange img{
width: 150px;
height: 150px;
border-radius: 100px;
margin-left: 50px;
margin-top: 50px;
  }
  .profilechange1{
background-image: linear-gradient(brown,black);    
color: white;
  }
  .profilechange1 h1{
text-align: center;  
color: #393d31;
}
.carousel{
  background-image: linear-gradient(green,yellow);
  display: flex;
justify-content: center;
align-items: center;
}
.carousel img{
  width: 150px;
height: 150px;
border-radius: 100px;
margin-left: 50px;
margin-top: 50px;
margin-right: 50px;
margin-bottom: 50px;
border: 2px solid #925151;
transition: width 2s,transform 2s;
}
.carousel img:hover{
  width: 300px;
height: 150px;
border-radius: 10px;
margin-left: 50px;
margin-top: 50px;
margin-right: 50px;
margin-bottom: 50px;
border: 2px solid #925151;
transform: rotate(360deg);
}